.title {
    margin-bottom: 0.6rem;
}

.chain {
    margin-bottom: 2.2rem;
}

.chain-label {
    padding-left: 0.1rem;
    padding-right: 0.6rem;
}

.table-label {
    width: 40%;
    font-size: 105%;
}

.button-grid {
    margin-top: 2.3rem;
}

.network-icon { 
    width: 1.1rem; 
    height: 1.1rem; 
    margin-right: 0.3rem;
}

.market-icon { 
    width: 1.4rem; 
    height: 1.4rem; 
}

