.network-select {
    .icon { width: 1.8rem; height: 1.8rem; }
    .chevron { width: 1.8rem; }
}

.network-menu-item { 
    font-size: 110%;
    padding: 0.3rem 0; 
}

.network-menu-icon { 
    width: 1.5rem; 
    height: 1.5rem; 
    margin-right: 0.6rem; 
}