.market-link-active {
    padding-bottom: 0.75rem !important; 
    margin-left: 2rem;
    cursor: pointer;
}

.market-link {
    padding-bottom: 0.75rem !important; 
    margin-left: 2rem;
    cursor: pointer;
    border-bottom-color: transparent !important; 
}

.market-icon {
    width: 1.6rem;
}

.collateral-name {
    padding-left: 0.7rem;
}

#market-combo-button {
    .icon { width: 1.6rem; }
    .market-name { padding: 0 1rem }
}

#market-combo-button::after {
    display: none;
}

#market-combo-dropdown {
    .icon { width: 1.4rem; }
    .market-name { padding: 0 1rem }
}