.market-link-active {
    padding-bottom: 0.75rem !important; 
    margin-left: 2rem;
    cursor: pointer;
}

.market-link {
    padding-bottom: 0.75rem !important; 
    margin-left: 2rem;
    cursor: pointer;
    border-bottom-color: transparent !important; 
}

.market-icon {
    width: 1.6rem;
}

.collateral-name {
    padding-left: 0.7rem;
}

#market-combo-button {
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    .icon { width: 1.8rem; height: 1.8; }
    .market-name { padding: 0 1.2rem }
}

#market-combo-button::after {
    display: none;
}

#market-combo-dropdown {
    font-size: 1.05rem;
    .icon { width: 1.5rem; }
    .market-dropdown-name { padding-left: 1rem }
}